.menu.menu-nav {
  background-color: #5db775;
}

.menu.menu-nav:after,
.menu.menu-nav:before {
  content: "";
  display: block;
  clear: both;
}

.menu.menu-nav li {
  position: relative;
  float: left;
  border-right: 1px solid #289645;
} 

.menu.menu-nav .submenu {
  width: 250px;
  position: absolute;
  top: 2.8em;
  left: 0;
}

.menu.menu-nav .submenu li {
  float: none;
}

.menu.menu-nav a {
  padding: 0.8em 3em;
}

.menu.menu-nav .submenu .submenu {
  top: 0;
  left: 250px;
}

.menu.menu-nav .submenu.submenu-reverse{
  left: auto;
  right: 0;
}
.menu.menu-nav .submenu.submenu-reverse .submenu{
  left: auto;
  right: 250px;
}

#main {
  margin-top: 3em;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

body {
  padding-top: 3em;
}




















