/*
font-family: 'Indie Flower', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.modulo {
  height: 500px;
}

.jumbotron {
  margin-bottom: 0;
}

.jumbotron.jumbotron-parallax {
  padding-top: 8em;
  padding-bottom: 8em;
  background-image: url(../images/download.jpg);
  background-repeat: no-repeat;
  color: white;
  text-shadow: 0 -1px 0 #000;
  background-size: cover;
  background-attachment: fixed;
}

.icono {
  font-size: 60px;
  background-color: #666;
  color: white;
  display: inline-block;
  padding: 1em;
  line-height: 0.9em;
  border-radius: 100%;
}















